/* Variables */

:root {
    --basic-white: #fff;
    --basic-black: #000;
    --basic-grey: #aaa;
    --basci-light-grey: #f1f2f1;
    --basic-orange: #ff7c00;
    --basic-orange-transparent: rgba(234, 129, 30, 0.897);
    --basic-block-background: #cd5b1d;
    --basic-dark: #2a3255;
    --basic-cyan: #23f0ff;
}

/* Global */

* {
    box-sizing: border-box;
}

::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: 'Bahnschrift SemiCondensed', 'Arial', sans-serif;
    font-weight: 400;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.wrap {
    max-width: 2560px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
}

.background {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--basic-black);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: background-image 0.5s;
}

/* Header */

.header {
    width: 100%;
    background: none;
}

.header__bg {
    background-color: var(--basci-light-grey);
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.header__link {
    flex-grow: 1;
}

.header__logo,
.footer__logo {
    margin: 10px 15px;
}

.header__right-menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    max-width: 310px;
    align-items: center;
}

.tel {
    font-size: 24px;
    text-decoration: none;
    color: var(--basic-white);
    transition: color 0.3s ease;
}

.toggle {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    height: 21px;
    width: 50px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0 16px;
    margin: 28px 0;
    z-index: 10;
    overflow: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;
}

.fixed-toggle {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.toggle:focus {
    outline: none;
}

.toggle div {
    border-radius: 10px;
    transition: width 200ms ease-out, height 0.3s linear, transform 0.3s linear, opacity 300ms linear;
    position: relative;
    transform-origin: 1px;
    min-height: 7px;
}

.toggle div span {
    background: #ffffff;
    height: 3px;
    display: block;
    margin: 2px 0;
    border-radius: 5px;
}

.toggle div:first-child {
    transform: rotate(0);
    width: 20px;
}

.toggle div:nth-child(2) {
    width: 20px;
}

.toggle div:nth-child(3) {
    transform: rotate(0);
    width: 20px;
}

.toggle.open div:first-child {
    transform: rotate(45deg);
    width: 22px;
}

.toggle.open div:nth-child(2) {
    width: 0;
}

.toggle.open div:nth-child(3) {
    transform: rotate(-45deg);
    width: 22px;
}

.tel__black {
    color: var(--basic-black);
    transition: color 0.3s ease;
}

.tel:hover,
.tel__black:hover {
    color: var(--basic-orange);
}

.toggle div .toggle__black {
    background: var(--basic-black);
}

/* Page Main */

.main-info {
    display: flex;
    justify-content: space-between;
    height: 600px;
    margin-bottom: 51px;
    position: relative;
    z-index: 1;
    padding-top: 60px;
}

.main-info__wrap {
    display: flex;
    gap: 50px;
    line-height: 1.4;
    height: 500px;
}

.main-info__text-left {
    align-self: end;
}

.main-info__title-left {
    font-size: 43px;
    font-weight: 900;
    color: var(--basic-white);
    padding-bottom: 10px;
    text-transform: uppercase;
    max-width: 600px;
}

.main-info__text {
    font-size: 24px;
    color: var(--basic-white);
    line-height: 1.4;
}

.main-info__title-right {
    max-width: 357px;
    font-size: 24px;
    font-weight: 700;
    color: var(--basic-white);
}

/* Blocks Menu */

.blocks {
    min-width: 300px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Dots */

.dots {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dot {
    width: 10px;
    height: 10px;
    border: 1px solid var(--basic-white);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.dot.active {
    background-color: var(--basic-white);
}

/* Slider */

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s, left 0.5s;
}

.slide.active {
    left: 0;
    opacity: 1;
}

/* Menu */

.menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--basic-white);
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
    overflow: hidden;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
}

.menu.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.menu__bg {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;
}

.grey__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.menu__wrap-main {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.menu__logo {
    width: 100%;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    transition-delay: 0.1s;
}

.menu__logo.visible {
    opacity: 1;
    transform: translateY(0);
}

.menu__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 300px;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;
}

.menu__item {
    font-size: 60px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--basic-black);
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease, color 0.3s ease;
}

.menu__item.visible {
    opacity: 1;
    transform: translateX(0);
}

.menu__item:hover {
    color: var(--basic-orange);
}

.menu__item:active {
    color: var(--basic-orange-transparent);
}

.menu__img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    transition-delay: 0.3s;
}

.menu__img.visible {
    opacity: 1;
    transform: translateY(0);
}

.menu__close {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.menu__cross {
    width: 60px;
    height: 60px;
    vertical-align: middle;
    transition: transform 0.3s ease-in-out;
}

.menu__cross:hover {
    transform: scale(1.2);
}

.menu__cross:active {
    transform: scale(1.1);
}

.menu__wrap,
.menu__img {
    width: 50%;
}

.copy {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.2s ease, transform 0.5s ease;
}

.copy.visible {
    opacity: 1;
    transform: translateY(0);
}

.copy {
    line-height: 1.4;
    transition-delay: 0.1s;
}

/* Projects */

.projects-top__bg,
.services__bg {
    position: relative;
}

.projects-top__info,
.services__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 150px;
    height: 100%;
}

.projects__list-container {
    position: relative;
    height: 100vh;
}

.projects__wrap-list {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
}

.projects__wrap-list::before {
    content: '';
    background-image: url('../img/bg_projects.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}

.projects__item {
    font-size: 34px;
    min-width: 330px;
    font-weight: 500;
    flex: 1;
    background-size: cover;
    background-position: center;
    position: relative;
}

.projects__name {
    max-width: 300px;
    font-size: 32px;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    background: none;
    border: none;
    z-index: 100;
    padding: 20px 30px;
    cursor: pointer;
}

.projects__name {
    transition: color 0.3s ease;
}

.projects__name:hover {
    color: var(--basic-orange);
}

.projects__name:active {
    color: var(--basic-orange-transparent);
}

.projects-top__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    align-items: center;
}

.projects-top__block,
.services__description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projects-top__title {
    font-size: 120px;
    font-weight: bold;
    text-transform: uppercase;
}

.projects-top__text,
.services__text-description {
    font-size: 32px;
    line-height: 1.3;
}

.services__text-description {
    font-weight: 500;
    padding: 40px 120px;
}

.projects-top__text {
    margin-left: auto;
}

.projects-top__img,
.services__img,
.contacts__email,
.contacts__tel {
    opacity: 0;
    transform: translateX(-80px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.contacts__tel {
    opacity: 0;
    transform: translateX(80px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.projects-top__img.show,
.services__img.show,
.contacts__email.show,
.contacts__tel.show {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.4s;
}

.projects-top__title,
.projects-top__text,
.contacts__title,
.services__title-description,
.services__text-description {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.projects-top__title.show,
.services__title-description.show,
.contacts__title.show {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s;
}

.projects-top__text.show,
.services__text-description.show {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.3s;
}

.projects__list.show {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.projects__list {
    opacity: 0;
    transform: translateY(80px);
}

/* Services */

.services__bg {
    height: 100vh;
}

.services__wrap-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.services__wrap {
    position: relative;
}

.services__wrap:last-child {
    margin-bottom: 100px;
}

.services__wrap-bg {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 150px;
    position: relative;
}

.services__wrap-bg::before {
    content: '';
    position: absolute;
    top: 220px;
    bottom: -25px;
    right: 196px;
    left: 314px;
    background-color: #f4f7fa;
    z-index: -50;
}

@media (max-width: 1440px) {
    .services__wrap-bg::before {
        right: 95px;
        left: 220px;
    }
}

@media (min-width: 2560px) {
    .services__wrap-bg::before {
        top: 220px;
        bottom: -22px;
        right: 668px;
        left: 749px;
    }
}

.services__wrap-bg__pmc::before {
    content: '';
    position: absolute;
    top: 220px;
    bottom: -20px;
    right: 368px;
    left: 150px;
    background-color: #f4f7fa;
    z-index: -50;
}

@media (max-width: 1440px) {
    .services__wrap-bg__pmc::before {
        left: 50px;
        right: 282px;
    }
}

@media (min-width: 2560px) {
    .services__wrap-bg__pmc::before {
        top: 220px;
        bottom: -22px;
        right: 788px;
        left: 600px;
    }
}

.services__info {
    gap: 26px;
    padding-top: 110px;
}

.services__info__top {
    gap: 200px;
    padding-top: 0px;
}

.services__info__pmc {
    gap: 16px;
}

.engineering-services {
    padding-bottom: 40px;
}

.services__description,
.services__info {
    width: 600px;
    color: var(--basic-black);
}

.services__title-description {
    font-size: 66px;
    font-weight: bold;
    text-transform: uppercase;
}

.services__span {
    color: #ff7c00;
}

.services__title {
    font-size: 52px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 15px;
    letter-spacing: 10px;
}

.services__text {
    font-size: 26px;
    font-weight: 300;
    line-height: 1.2;
    padding-bottom: 15px;
    padding-left: 20px;
}

.services__item {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.7;
    text-transform: uppercase;
    padding-left: 20px;
}

.services__item::before {
    content: '';
    background-image: url('../img/icon-arrow.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 5px;
    left: -12px;
}

.services__item:not(:last-child) {
    padding-bottom: 10px;
}

/* Footer */

.footer {
    background-color: var(--basci-light-grey);
    padding-top: 80px;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
}

.footer__wrap__right {
    display: flex;
    gap: 50px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__item {
    text-decoration: none;
    font-size: 32px;
    color: var(--basic-black);
}

.footer__item,
.footer__email,
.footer__contacts {
    font-weight: 300;
}

.footer__item {
    transition: color 0.3s ease;
}

.footer__email,
.contacts__email {
    font-size: 24px;
    line-height: 1.7;
}

.footer__email__link,
.contacts__email__link {
    text-decoration: none;
    color: var(--basic-black);
    transition: color 0.3s ease;
}

.footer__item:hover,
.footer__email__link:hover,
.contacts__email__link:hover {
    color: var(--basic-orange);
}

.footer__contacts,
.contacts__wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Contacts */

.contacts {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts__container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    margin-top: 45px;
}

.contacts__form {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}

.contacts__info {
    flex-basis: 48%;
}

.contacts__title {
    font-size: 70px;
    font-weight: 400;
    color: var(--basic-black);
    margin-bottom: 10px;
}

.contacts__details {
    flex-basis: 48%;
    opacity: 0;
    transform: translateX(80px);
}

.contacts__details.show {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.contacts__details input[type='text'],
.contacts__details input[type='email'] {
    padding: 15px 20px;
    color: var(--basic-black);
    outline: none;
    border: 1px solid var(--basic-grey);
    margin: 35px 15px;
    font-size: 14px;
}

.contacts__details textarea {
    padding: 15px 20px;
    margin: 0 15px;
    color: var(--basic-black);
    outline: none;
    border: 1px solid var(--basic-grey);
    font-size: 14px;
    resize: none;
}

.contacts__button {
    padding: 15px 25px;
    color: var(--basic-white);
    font-weight: 500;
    background: var(--basic-black);
    outline: none;
    border: none;
    margin: 15px;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
}

.contacts__details input[type='text']:focus,
.contacts__details input[type='email']:focus,
.contacts__details textarea:focus {
    border-color: var(--basic-black);
}

@media (max-width: 500px) {
    .contacts__form {
        display: flex;
        flex-direction: column;
    }

    .contacts__button {
        margin-left: 0;
    }

    .contacts__details input[type='text'],
    .contacts__details input[type='email'],
    .contacts__details textarea {
        width: 100%;
        margin-left: 0;
    }

    .contacts__details input[type='text'] {
        margin-bottom: 0px;
    }
}

@media (min-width: 501px) and (max-width: 768px) {
    .contacts__form {
        display: flex;
        flex-direction: column;
    }

    .contacts__button {
        margin-left: 0;
    }

    .contacts__details input[type='text'],
    .contacts__details input[type='email'],
    .contacts__details textarea {
        width: 100%;
        margin-left: 0;
    }

    .contacts__details input[type='text'] {
        margin-bottom: 0px;
    }
}
