/* Variables */

:root {
    --basic-white: #fff;
    --basic-black: #000;
    --basic-block-background: #cd5b1d;
}

/* Global */

* {
    box-sizing: border-box;
}

::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-image: url(../img/main-bg.jpg);
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.wrap {
    width: 100%;
    max-width: 1440px;
    min-width: 640px;
    margin: 0 auto;
    padding-bottom: 70px;
}

/* Fonts */

/* Header */

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
}

.header__logo {
    margin: 10px 15px;
}

.header__tel,
.header__search {
    color: var(--basic-white);
}

.main-info {
    display: flex;
    justify-content: space-between;
    height: 600px;
    margin-bottom: 50px;
}

.main-info__wrap {
    display: flex;
    gap: 50px;
    line-height: 1.4;
    min-width: 1170px;
}

.main-info__text-left {
    align-self: end;
}

.main-info__title-left {
    font-size: 43px;
    color: var(--basic-white);
    padding-bottom: 10px;
    text-transform: uppercase;
}

.main-info__title-right {
    max-width: 427px;
    font-size: 24px;
    color: var(--basic-white);
}

.main-info__text {
    color: var(--basic-white);
    line-height: 1.4;
}

.menu__logo {
    width: 100px;
}

.menu__close {
    border: none;
    cursor: pointer;
}

.blocks {
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blocks__arrow {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

.blocks__services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: var(--basic-white);
    text-decoration: none;
    text-transform: uppercase;
}

.menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-top: 65px;
    background-color: #f1f2f1;
    animation: slideIn 1s forwards;
}

.menu.slide-out {
    animation: slideOut 1s forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

.hidden {
    display: none;
}

.menu__wrap {
    display: flex;
    flex-direction: row;
    gap: 500px;
}

.menu__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu__item {
    font-size: 60px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--basic-black);
}

.menu__img {
    display: flex;
    gap: 50px;
}

.menu__cross {
    width: 60px;
    height: 60px;
    vertical-align: middle;
}

.copy {
    line-height: 1.4;
}

.projects {
    padding-top: 200px;
}

.projects__info {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.projects__examples {
    display: flex;
    justify-content: space-between;
    gap: 170px;
    width: 100%;
    padding: 25px 60px;
}

.wrap__bg {
    min-height: 800px;
    background-image: url(../img/bg.jpg);
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    height: 100vh;
}

.wrap__bg-text {
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
}

.projects__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects__item {
    font-size: 34px;
    text-transform: uppercase;
}

.projects__block,
.services__description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projects__title {
    font-size: 60px;
    text-transform: uppercase;
}

.projects__text,
.services__text-description {
    font-size: 20px;
    line-height: 1.3;
}

.services__block {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.services__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.engineering-services,
.pmc-services {
    padding-top: 65px;
    padding-bottom: 40px;
    background-color: var(--basic-black);
}

.services__description,
.services__info,
.pmc__info {
    width: 600px;
    color: var(--basic-white);
}

.services__title-description {
    font-size: 60px;
    text-transform: uppercase;
}

.services__span {
    color: var(--basic-block-background);
}

.services__title,
.pmc__title {
    font-size: 46px;
    padding-bottom: 15px;
}

.services__text,
.pmc__text {
    font-size: 26px;
    padding-bottom: 15px;
}

.services__item,
.pmc__item {
    font-size: 18px;
    line-height: 1.5;
    padding-left: 20px;
}

.services__item:not(:last-child),
.pmc__item:not(:last-child) {
    padding-bottom: 10px;
}

.page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
}
